@(idpUrl: String, samlRequest: String, relayState: String)

<!DOCTYPE html>
<html>
<head></head>
<body onload="document.forms[0].submit()">

<div style="display: none">

<form method="post" action="@idpUrl">
   <input type="hidden" name="SAMLRequest" value="@samlRequest" />
   <input type="hidden" name="RelayState" value="@relayState" />
   <input type="submit" value="Submit Authentication Request" />
</form>

<div style="font-family: sans-serif;">
<strong>NOTE:</strong><br>This page would normally be hidden by automatically submitting the form. 
I am only showing it to illustrate the process.
<br>
<strong>TODO:</strong> add the JS code for automatic submission. 
<p>
IdP URL: <strong>@idpUrl</strong><br>
Relay State: <strong>@relayState</strong><br>
SAMLRequest: @samlRequest<br>
</p>
</div>

</div>

</body>
</html>